:root {
    --myellow: #f4bf44;
    --mred: #cc2b1f;
    --mwhite: #f5f1e7;
}

body {
    background-color: var(--myellow);
}

* {
    background-color: var(--myellow);
    color: var(--mred);
    font-family: "monoton";
}

h1 {
    font-size: calc(4.375rem + 1.5vw);
    /* change the rem value if we want to change the size */
}

button {
    font-family: "monoton";
    font-size: 5vw;
    background-color: var(--myellow);
    color: var(--mred);
    border-color: var(--mred);
    border-radius: 20px;
    border-width: 5px;
    color: var(--mred);
}

.choices-button{
    display: none;
    margin: 0 auto;
}
#buttons-for-choices {
    display: none;
    margin: 0 auto;
}



.what-to-eat-div {
    border-radius: 20px;
}

/* button hovers */
.what-to-eat:hover {
    color: var(--mwhite);
}
.choices-button:hover {
    color: var(--mwhite);
}
.back-button:hover {
    color: var(--mwhite);
}

#back-button {
    font-size: 5vw;
    display: none;
}
#forward-button {
    font-size: 5vw;
}


/* TODO: style this */
/* .top-five-results-container{

} */

.still-hungry-link{
    text-decoration: none;
    color:#cc2b1f;
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {
main{
    margin-bottom: 20px;
}
.choices-button{
    margin: 0 auto 20px;
}
}

@media screen and (max-width: 442px) {

    /* good until around 310px */
    h1 {
        font-size: calc(3.375rem + 1.5vw);
    }

    button {
        font-size: 8vw;
        margin-bottom: 40px;
    }

    .what-to-eat-div {
        top: 0%!important;
        margin-top: 20px;
        text-align: center;
        position: static!important;
        transform: translate(0%, 0%)!important;
        left: 0%!important;
    }


}